

//body {
//    background: url("https://lh4.googleusercontent.com/-2uGWBX3cHSU/Voh3IiC5N6I/AAAAAAAANFo/OK-k_dtG4SM/w1915-h1278-no/20160101-DSC_6832-2.jpg") center center no-repeat;
//    background-size: cover;
//    width: 100vw;
//    height: 100vh;
//}

#NextPrevPosts {
    white-space: nowrap;

    *, *:before, *:after {
        box-sizing: border-box;
        *zoom: 1;
        font-family: "Open Sans", sans-serif;
        line-height: 1.1;
    }

    & .arrow {
        padding: 20px;
        width: 70px;
        height: 100px;
        background: white;
        display: inline-block;
        z-index: 1003;
    }

    & .prev .arrow { float: left; }
    & .next .arrow { float: right; }

    & .next svg,
    & .prev svg {
        width: 25px;
        height: 60px;
    }

    & .next,
    & .prev {
        position: fixed;
        top: 50%;
        margin-top: -50px;
        padding: 0px;
        height: 100px;
        background: white;
        width: 70px;
        overflow: hidden;
        transition: all 0.3s ease;
        white-space: nowrap !important;
        z-index: 909;

        &.is-disabled {
            display: none !important;
        }
    }

    & .prev {
        left: 0 !important;
        box-shadow:         5px 0px 20px 0px rgba(50, 50, 50, 0.2);
        text-align: left !important;
        height: 100px;
        max-height: 100px;
    }
    & .next {
        right: 0 !important;
        box-shadow:         -5px 0px 20px 0px rgba(50, 50, 50, 0.2);
        text-align: right !important;
        height: 100px;
        max-height: 100px;
    }

    & .preview { height: 100px; width: 370px; position: relative; display: inline-block; z-index: -1; position: absolute; top: 0;}
    & .preview:after { content: ''; display: block; clear: both;}

    & .next .preview { float: right; right: 70px;}
    & .prev .preview { float: left; left: 70px;}

    & .preview .featuredImg {
        width: 100px; height: 100px;
        background: url(http://lorempixel.com/100/100/) center center no-repeat; background-size: cover !important;
        z-index: 1002; top: 0;

    }
    & .next .preview .featuredImg { float: right !important;}
    & .prev .preview .featuredImg { float: left !important;}

    & .preview .preview-content {
        width: 270px; height: 100px; display: table; vertical-align: middle;
        position: absolute; white-space: normal !important;
        z-index: -1; top: 0;

        zoom: 1;
        filter: alpha(opacity=30);
        opacity: 0.3;
    }

    & .next .preview .preview-content { right: 100px; float: right;}
    & .prev .preview .preview-content { left: 100px;float: left;}

    & .preview .preview-content h1,
    & .preview .preview-content p {margin: 0; padding: 0;}
    & .preview .preview-content h1 { font-size: 18px; margin: auto; display: table-cell; vertical-align: middle; padding: 15px 20px;}

    & .prev .preview .featuredImg { margin-left: -100px;}
    & .prev .preview .preview-content { margin-left: -370px;}

    & .next .preview .featuredImg { margin-right: -100px;}
    & .next .preview .preview-content { margin-right: -370px;}

    & .next .preview .featuredImg,
    & .next .preview .preview-content,
    & .prev .preview .featuredImg,
    & .prev .preview .preview-content {
        transition: all 0.3s ease;
    }

    & .next:hover,
    & .prev:hover {
        width: 440px;
    }
    & .next:hover .preview .featuredImg,
    & .next:hover .preview .preview-content,
    & .next:focus .preview .featuredImg,
    & .next:focus .preview .preview-content,
    & .next:active .preview .featuredImg,
    & .next:active .preview .preview-content,
    & .prev:hover .preview .featuredImg,
    & .prev:hover .preview .preview-content,
    & .prev:focus .preview .featuredImg,
    & .prev:focus .preview .preview-content,
    & .prev:active .preview .featuredImg,
    & .prev:active .preview .preview-content {
        margin-left: 0; margin-right: 0;
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
